In [20]:
import pandas as pd
import numpy as np

wdata = open('datasets/web_log_data.csv','r').readlines()

print('\n'.join(wdata[:3]))

ip,date_time,request,step,session,user_id

c210-49-32-6.rochd2.,18/Apr/2005:21:25:07,/,1,3,3

visp.inabox.telstra.,19/Apr/2005:08:24:28,/,1,12,12

In [21]:
# set names of pandas dataframe
names=['Host','Datetime', 'Request', 'Step', 'Session', 'User_ID']
# read the dataframe
df = pd.read_csv('datasets/web_log_data.csv', sep=',', names=names, header=None)

In [22]:
df.head()

                   Host              Datetime  Request  Step  Session  User_ID
0                    ip             date_time  request  step  session  user_id
1  c210-49-32-6.rochd2.  18/Apr/2005:21:25:07        /     1        3        3
2  visp.inabox.telstra.  19/Apr/2005:08:24:28        /     1       12       12
3  dsl-61-95-54-84.requ  19/Apr/2005:08:33:01        /     1       13       13
4  d220-236-91-52.dsl.n  19/Apr/2005:09:16:06        /     1       15       15

In [23]:
df.drop(0, inplace=True)

df['User_ID'] = df['User_ID'].astype(int)
df['Step'] = df['Step'].astype(int)
df['Session'] = df['Session'].astype(int)

mask = (df['Request'].str.endswith('.css') | df['Request'].str.endswith('.ico') | df['Request'].str.endswith('.js') | df['Request'].str.endswith('.txt'))
print("# Rows before:", len(df))


# invert the mask, only keep records without the wrong extensions in the request column
df2 = df[~mask]

print("After images removal", len(df2))
df2.info()
df2.head()

('# Rows before:', 5866)
('After images removal', 4458)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4458 entries, 1 to 5866
Data columns (total 6 columns):
Host        4458 non-null object
Datetime    4458 non-null object
Request     4458 non-null object
Step        4458 non-null int32
Session     4458 non-null int32
User_ID     4458 non-null int32
dtypes: int32(3), object(3)
memory usage: 139.3+ KB

                   Host              Datetime Request  Step  Session  User_ID
1  c210-49-32-6.rochd2.  18/Apr/2005:21:25:07       /     1        3        3
2  visp.inabox.telstra.  19/Apr/2005:08:24:28       /     1       12       12
3  dsl-61-95-54-84.requ  19/Apr/2005:08:33:01       /     1       13       13
4  d220-236-91-52.dsl.n  19/Apr/2005:09:16:06       /     1       15       15
5     allptrs.eq.edu.au  19/Apr/2005:09:47:54       /     1       22       22

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4458 entries, 1 to 5866
Data columns (total 6 columns):
Host        4458 non-null object
Datetime    4458 non-null object
Request     4458 non-null object
Step        4458 non-null int32
Session     4458 non-null int32
User_ID     4458 non-null int32
dtypes: int32(3), object(3)
memory usage: 139.3+ KB

In [25]:
df2.head()

                   Host              Datetime Request  Step  Session  User_ID
1  c210-49-32-6.rochd2.  18/Apr/2005:21:25:07       /     1        3        3
2  visp.inabox.telstra.  19/Apr/2005:08:24:28       /     1       12       12
3  dsl-61-95-54-84.requ  19/Apr/2005:08:33:01       /     1       13       13
4  d220-236-91-52.dsl.n  19/Apr/2005:09:16:06       /     1       15       15
5     allptrs.eq.edu.au  19/Apr/2005:09:47:54       /     1       22       22